@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap');

/* font-family: 'Titillium Web', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
    text-decoration: none;
    text-wrap: balance;
}
html{
    scroll-behavior: smooth;
}
/* SECCION HEADER */
header{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    z-index: 99;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    padding: 20px 50px 50px;
    transition: .5s;
}

header nav ul{
    display: flex;
    list-style: none;
}
header nav ul li{
    background-color: rgba(255,255,255, 35%);
    padding: 0px 10px;
    /* border-radius: 4px; */
    margin: 0px 5px;
}
nav ul li .linea{
    display: block;
    background-color: #000;
    height: 2px;
    width: 0%;
    transition: 0.5s;
}
header nav ul li:hover .linea {
    width: 100%;
}
header nav ul li a {
    text-decoration: none;
    color: #000;
}
/* header .nav-bar{
    font-size: 24px;
    cursor: pointer;
    transition: 0.5s;
    display: none;
}
header .nav-bar:hover{
    color: #4c4c4c;
} */
header nav ul li span.seleccionado {
    display: block;
    background-color: #000;
    height: 2px;
    width: 100%;
}
#icono-nav{
    display: none;
}

/* SECCION  I N I C I O */
#inicio{
    position: relative;
    height: 100vh;
    padding: 0 40px;
}
#inicio .contenido{
   max-width: 1500px;
   margin: auto;
   height: 100%;
} 
#inicio .contenido .info{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 50%;
  left: 50%;
  width: 50%;
  text-align: center;
  transform: translateY(-50%);
  z-index: 10;
  animation: aparecer 2s forwards;
}
@keyframes aparecer{
    0%{
        margin-left: -30px;
        opacity: 0;
    }
    100%{
        margin-left: 0;
        opacity: 1;
    }
}
#inicio .info h3{
    font-size: 3rem;
    color: rgb(17, 17, 53, 0.9);
    /* color: #fff; */
    /* -webkit-text-stroke: 2px #000; */
    /* padding-left: 2px; */
    text-shadow: 5px 5px rgba(0, 0, 0, 0.05);
    letter-spacing: 2px;
    /* font-family: Arial, Helvetica, sans-serif; */
}
#inicio .info p{
    font-size: 1.5rem;
    color: rgb(17, 17, 53, 0.8);
    text-shadow: 3px 3px rgba(0, 0, 0, 0.05);
    letter-spacing: 2px;
}

#inicio .contenido .info span{
    display: inline-block;
    font-size: 1rem;
    color: #4c4c4c;
    margin-bottom: 15px;
}
#inicio .contenido .info .redes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
#inicio .contenido .info .redes a{
    display: inline-block;
    color: #6f6f6f;
    margin-right: 15px;
    font-size: 20px;
    transition: .7s;
}
#inicio .contenido .info .redes a:hover {
    color: black;
}
#inicio .contenido .info .redes a:hover {
    transform: scale(1.2);
}
#inicio .contenedor-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100vh;
    clip-path: ellipse(90% 90% at left);
    background-color: #4c4c4c;
}
#inicio .contenedor-img .imagen{
    background-image: url("img/img-inicio.jpeg");
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-position: center;
}

/* SECCION  S O B R E   M I  */

#sobremi .contenido{
    padding: 5rem 30px;
    max-width: 1200px;
    
    display: flex;
    align-items: center;
    
}
#sobremi .contenido .info span {
    display: inline-block;
    background-color: #f2f2f2;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 4px;
}
#sobremi .contenedor-img img{
    max-height: 10rem;
}
#sobremi .contenido .info .cuerpo{
    padding-inline: 10%;
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#sobremi .contenido .info h3{
    font-size: 30px;
    line-height: 1.4;
    font-weight: 800;
    margin-bottom: 15px;
}
#sobremi .contenido .info p{
    font-size: 15px;
    color: #767676;
    line-height: 30px;
    margin-bottom: 15px;
}
#sobremi .contenido .info .btn-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    margin-inline: 20%;
}
#sobremi .contenido .info .btn-descargar{
    display: inline-block;
    text-decoration: none;
    text-align: center;
    background-color: #000;
    color: #fff;
    min-width: 6rem;
    max-width: 6rem;
    padding: 12px;
    border: 2px solid rgba(0, 0, 0, 0.2);  
    margin: 2px 2px;
    transition: .5s;
    border-radius: 8px;
}

#sobremi .contenido .info .btn-descargar:hover{
    background-color: #fff;
    color: #000;
}

/* SECCION  P O R T F O L I O  */
#portfolio{
    background-color: #f9f9f9;
}
#portfolio .contenido {
    padding: 60px;
    text-decoration: none;
    max-width: 1200px;
    margin: auto;
}
#portfolio .contenido .left span {
    display: inline-block;
    background-color: #f2f2f2;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 4px;
}
#portfolio .contenido .encabezado-portfolio{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
#portfolio .contenido .encabezado-portfolio a{
    text-decoration: none;
    /* display: inline-block; */
    color: #000;
    padding: 5px 15px;
}
.activada{
    background-color: #000;
    color: #fff !important;
}
#portfolio .contenido .left h3{
    font-size: 30px;
    line-height: 1.4;
    font-weight: 700;
    margin-bottom: 15px;
}
#portfolio .contenido p{
    font-size: 15px;
    color: black;
    line-height: 1.4;
    margin: 10px;
    text-decoration:dotted;
}
#portfolio .galeria{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 48px;
}
#portfolio .galeria img{
    width: 100%;
    height: 52%;
    transition: .5s;
}
#portfolio .galeria .proyecto{
    position: relative;
    overflow: hidden;
    border: rgb(0, 0, 0, 0.1) solid 1px;
    border-radius: 16px;
}
#portfolio .galeria .proyecto h3{
    position: absolute;
    top: 0;
    padding: 20px;
    width: 100%;
    background-color: rgba(0 0 0 / 75%);
    color: #fff;
    transition: .7s;
    opacity: 0;
}
#portfolio .galeria .proyecto:hover h3{
    opacity: 1;
}
#portfolio .galeria .proyecto:hover img{
    transform: scale(1.1);
}

#portfolio .details{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 48px;
    background-color: #f3f3f3;
    padding: 2rem;   
    border: 2px solid rgba(0, 0, 0, 0.2);  
    border-radius: 0.5rem;
}

#portfolio .custom-summary {
    cursor: pointer;
    list-style: none;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    background-color: #000;
    color: #fff;
    min-width: 6rem;
    padding: 0.5rem;
    border: 2px solid rgba(0, 0, 0, 0.2);  
    margin: 2px 2px;
    transition: .5s;
    border-radius: 0.5rem;
    margin: 1rem 0;
}
#portfolio .custom-summary:hover{
    background-color: #fff;
    color: #000;
}
  

/* SECCION  S K I L L S  */
#skills{
    background-color: #f9f9f9;
    padding-bottom: 80px;
}
#skills .contenido {
   padding: 120px 40px;
}
#skills .contenido .left {
    background-color: #f9f9f9;
    padding: 20px 40px 0px 40px;
    margin-left: 30px;
    
}
#skills .contenido .left span {
    display: inline-block;
    background-color: #f0f0f0;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 4px;
}
#skills .contenido .right {
    background-color: #f9f9f9;
    display: flex;
    flex-basis: 40%;
    text-align: center;
}

#skills .contenedor-skills .proyecto {
    text-decoration: none;
}
#skills .contenedor-skills .proyecto img{
    width: 15%;
    aspect-ratio: 2/3;
    object-fit: contain;
    mix-blend-mode: multiply;
    max-height: 60px;
    margin: 40px 50px;
    transition: .5s;
}
#skills .contenedor-skills .proyecto:hover img{
    opacity: 1;
}
#skills .contenedor-skills .proyecto:hover img{
    transform: scale(1.2);
}

/* *********************/
/* seccion C O N T A C T O */
/* *********************/        
#contacto {
    padding: 80px 15px;
    background-color: #f3f3f3;
}

#contacto .titulo-seccion {
    margin-bottom: 20px;
}

#contacto .contenedor-form {
    max-width: 1100px;
    margin: auto;
}

#contacto .contenedor-form .fila {
    margin-bottom: 15px;
}

#contacto .contenedor-form .mitad {
    display: flex;
    justify-content: space-between;
}

#contacto .contenedor-form input,
#contacto .contenedor-form textarea {
    padding: 20px;
    border-radius: 16px;
    border: none;
    border: 1px solid #919191;
}

#contacto .contenedor-form .mitad input {
    width: 48%;
}

#contacto .contenedor-form .input-full {
    width: 100%;
}

#contacto .titulo-seccion {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

#contacto .btn-enviar {
    display: block;
    margin: auto;
    cursor: pointer;
    transition: .5s;
    padding: 10px 15px !important;
}

#contacto .btn-enviar:hover {
    background-color: #ff5080;
    color: #fff;
}
/* *********************/
/* seccion F O O T E R */
/* *********************/

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}

footer a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin: 5px;
    font-size: 26px;
}
/* ****************************************************************************/
/*               seccion R E S P O N S I V E              *********************/
/* ****************************************************************************/

@media screen and (max-width:800px) {
    h1 {
        font-size: 20px;
        position:static;
    }
    .redes {
        margin: 0px 7px;
    }
    nav {
        display: none;
    }
    nav.responsive{
        font-weight: bold;
        display: block;
        background-color: rgba(245, 245, 245, 0.95);
        width: fit-content;
        position: absolute;
        top: 60px;
        right: 50px;
        padding: 10px 30px;
        border-radius: 16px;
    }
    .collapse {
        display: none;
      }      
    nav.responsive ul{
        display: block !important;
        text-align: center;
    }
    nav.responsive ul li{
        background-color: inherit;
        margin: 5px;
        padding: 5px;
    }
    #icono-nav{
        margin-top: 16px;
        display: block;
        cursor: pointer;
    }

    #inicio {
        /* text-align: center;
        align-items: center; */
        margin: 0;
        padding: 0;
    }
    #inicio .contenido .info h3 {
        font-size: 21px;
        font-weight: normal;
        -webkit-text-stroke: 1.5px #000;
    }
    #inicio .contenido .info span {
        display: none;
    }

    /* S O B R E   M I */
    #sobremi{
        padding: 40px 0px;
        display: block;
    }
    #sobremi .contenido .info{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        /* margin: 10px 15px 0 15px; */
    }
    #sobremi .contenido .info span {
        display: inline-block;
        background-color: #f2f2f2;
        /* padding: 15px; */
        margin-bottom: 15px;
        border-radius: 4px;
    }
    #sobremi .contenido .right .info h3{
        display: none;
    }
    
    #sobremi .contenido .btn-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
    }

    /* P O R T F O L I O */
    #portfolio{
        padding: 40px 0px;
        display: block;
    }
    #portfolio .contenido{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px 15px 0 15px;
        padding: 20px 15px 0 15px;
    }
    #portfolio .contenedor-img{
        align-items: center;
        text-align: center;
        max-width: 200px;
        margin: auto;
    }
    #portfolio .contenedor-img img{
        padding: 8px;
    }
    #portfolio .right .info{
        text-align: center;
    }   
    #portfolio .contenido .right{
        width: 100%;
        padding-left: 0px;
    }

    #portfolio .details{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        /* grid-gap: 48px; */
        background-color: #f3f3f3;
        /* padding: 2rem;    */
        border: 0px;  
        border-radius: 0.5rem;
    }
/* 
    #portfolio .custom-summary {
        cursor: pointer;
        list-style: none;
        display: inline-block;
        text-decoration: none;
        text-align: center;
        background-color: #000;
        color: #fff;
        min-width: 6rem;
        padding: 0.5rem;
        border: 2px solid rgba(0, 0, 0, 0.2);  
        margin: 2px 2px;
        transition: .5s;
        border-radius: 0.5rem;
        margin: 1rem 0;
        outline-offset: 0;
    } */
    #portfolio .custom-summary:hover{
        align-self: center;
        color: #fff;
        background-color: #000;
    }
    /* S K I L L S */
    
    #skills .contenido{
        padding: 0 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #skills .contenido .left{
        margin: 40px 0 0 0;
        padding: 30px 0 0 0;
    }
    #skills .left .contenido span{
        align-items: center;
        display: flex;
        /* margin-left: -20px; */
    }
    /* #skills .right .contenedor-skills .galeria{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
        grid-auto-rows: 100px;
    } */
    #skills .right .contenedor-skills .proyecto img{
        margin: 20px 25px;
        max-height: 40px;
        min-width: 40px;
    }

    #contacto {
        margin-top: 20px;
        padding-top: 60px;
    }
    #contacto .titulo-seccion h3{
        margin: 20px 0 20px 0;
        padding-top: 0;
    }
}