@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap');

/* font-family: 'Titillium Web', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}
html{
    scroll-behavior: smooth;
}
/* SECCION HEADER */
header{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 99;
    padding: 20px 50px;
    transition: .5s;
}
/* header h1{
    font-family: Courgette;
} */
header nav ul{
    display: flex;
    list-style: none;
}
header nav ul li{
    margin: 0 15px;
}
nav ul li .linea{
    display: block;
    background-color: #000;
    height: 2px;
    width: 0%;
    transition: 0.5s;
}
header nav ul li:hover .linea {
    width: 100%;
}
header nav ul li a {
    text-decoration: none;
    color: #000;
}
header .nav-bar{
    font-size: 24px;
    cursor: pointer;
    transition: 0.5s;
    display: none;
}
header .nav-bar:hover{
    color: #4c4c4c;
}
header nav ul li span.seleccionado {
    display: block;
    background-color: #000;
    height: 2px;
    width: 100%;
}

/* SECCION  I N I C I O */
#inicio{
    position: relative;
    height: 100vh;
    padding: 0 40px;
}
#inicio .contenido{
   max-width: 1500px;
   margin: auto;
   height: 100%;
} 
#inicio .contenido .info{
  position: relative;
  top: 50%;
  left: 50%;
  width: 50%;
  text-align: center;
  transform: translateY(-50%);
  z-index: 10;
  animation: aparecer 2s forwards;
}
@keyframes aparecer{
    0%{
        margin-left:  -30px;
        opacity: 0;
    }
    100%{
        margin-left: 0;
        opacity: 1;
    }
}
#inicio .contenido .info h3{
    font-size: 50px;
    color: #fff;
    -webkit-text-stroke: 2px #000;
    padding-left: 2px;
    text-shadow: 3px 3px #000;
    letter-spacing: 5px;
}
#inicio .contenido .info span{
    display: inline-block;
    font-size: 25px;
    color: #4c4c4c;
    margin-bottom: 15px;
}
#inicio .contenido .info .redes a{
    display: inline-block;
    color: #4c4c4c;
    margin-right: 15px;
    font-size: 20px;
}
#inicio .contenedor-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100vh;
    clip-path: ellipse(90% 90% at left);
    background-color: #4c4c4c;
}
#inicio .contenedor-img .imagen{
    background-image: url("img/img-inicio.jpeg");
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-position: center;
}
#sobremi .contenido{
    padding: 150px 30px;
    max-width: 1200px;
    margin: auto;
    display: flex;
}
#sobremi .contenido .left{
    width: 50%;
}
#sobremi .contenido .right{
    width: 50%;
    padding-left: 50px;
}
#sobremi .contenido .right .info span{
    display: inline-block;
    background-color: #f2f2f2;
    padding: 15px;
    margin-bottom: 15px;
}
#sobremi .contenido .right .info h3{
    font-size: 30px;
    line-height: 1.4;
    font-weight: 800;
    margin-bottom: 15px;
}
#sobremi .contenido .right .info p{
    font-size: 15px;
    color: #767676;
    line-height: 30px;
    margin-bottom: 15px;
}
#sobremi .contenido .right .info .btn-descargar{
    display: inline-block;
    text-decoration: none;
    background-color: #000;
    color: #fff;
    padding: 13px 48px;
    border: 2px solid #000;
    transition: .5s;
}
#sobremi .contenido .right .info .btn-descargar:hover{
    background-color: #fff;
    color: #000;
}
#sobremi .contenido .left .contenedor-img img{
    width: 100%;
}

/* SECCION  P O R T F O L I O  */
#portfolio{
    background-color: #f9f9f9;
}
#portfolio .contenido {
    padding: 130px 60px;
    max-width: 1200px;
    margin: auto;
}
#portfolio .contenido .left span {
    display: inline-block;
    background-color: #f2f2f2;
    padding: 15px;
    margin-bottom: 15px;
}
#portfolio .contenido .encabezado-portfolio{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
#portfolio .contenido .encabezado-portfolio a{
    text-decoration: none;
    display: inline-block;
    color: #000;
    padding: 5px 15px;
}
.activada{
    background-color: #000;
    color: #fff !important;
}
#portfolio .contenido .left h3{
    font-size: 30px;
    line-height: 1.4;
    font-weight: 700;
    margin-bottom: 15px;
}
#portfolio .galeria{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    grid-gap: 30px;
}
#portfolio .galeria img{
    width: 100%;
    transition: .5s;
}
#portfolio .galeria .proyecto{
    position: relative;
    overflow: hidden;
    border: black solid 2px;
    border-radius: 4px;
}
#portfolio .galeria .proyecto h3{
    position: absolute;
    bottom: 0;
    padding: 20px;
    width: 100%;
    background-color: rgba(0 0 0 / 50%);
    color: #fff;
    transition: .5s;
    opacity: 0;
}
#portfolio .galeria .proyecto:hover h3{
    opacity: 1;
}
#portfolio .galeria .proyecto:hover img{
    transform: scale(1.1);
}


/* SECCION  S K I L L S  */
#skills{
    background-color: #ffffff;
}
#skills .contenido {
    padding: 150px 130px;
    max-width: 120px;
    margin: auto;
}
#skills .contenido .left span {
    display: inline-block;
    background-color: #f2f2f2;
    padding: 15px;
    margin-bottom: 15px;
}
#skills .contenido .encabezado-skills{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
/* #skills .contenido .encabezado-skills a{
    text-decoration: none;
    display: grid;
    grid-row: auto;
    color: #000;
    padding: 5px 15px;
} */
/* .activada{
    background-color: #000;
    color: #fff !important;
} */
#skills .contenido .left h3{
    font-size: 30px;
    line-height: 1.4;
    font-weight: 700;
    margin-bottom: 15px;
}
#skills .galeria{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 30px;
}
#skills .galeria img{
    width: 100%;
    transition: .5s;
}
/* #skills .galeria .proyecto{
    position: relative;
    overflow: hidden;
} */
#skills .galeria .proyecto h3{
    position: absolute;
    bottom: 0;
    padding: 20px;
    width: 100%;
    background-color: rgba(0 0 0 / 50%);
    color: #fff;
    transition: .5s;
    opacity: 0;
}
#skills .galeria .proyecto:hover img{
    opacity: 1;
}
#skills .galeria .proyecto:hover img{
    transform: scale(1.1);
}

/* *********************/
/* seccion C O N T A C T O */
/* *********************/        
#contacto {
    padding: 100px 15px;
    background-color: #f3f3f3;
}

#contacto .titulo-seccion {
    margin-bottom: 20px;
}

#contacto .contenedor-form {
    max-width: 1100px;
    margin: auto;
}

#contacto .contenedor-form .fila {
    margin-bottom: 15px;
}

#contacto .contenedor-form .mitad {
    display: flex;
    justify-content: space-between;
}

#contacto .contenedor-form input,
#contacto .contenedor-form textarea {
    padding: 20px;
    border-radius: 20px;
    border: none;
    border: 1px solid #919191;
}

#contacto .contenedor-form .mitad input {
    width: 48%;
}

#contacto .contenedor-form .input-full {
    width: 100%;
}

#contacto .titulo-seccion {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

#contacto .btn-enviar {
    display: block;
    margin: auto;
    cursor: pointer;
    transition: .5s;
    padding: 10px 15px !important;
}

#contacto .btn-enviar:hover {
    background-color: #ff5080;
    color: #fff;
}
/* *********************/
/* seccion F O O T E R */
/* *********************/

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}

footer a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin: 5px;
    font-size: 26px;
}
